Thumbs.db
*.obj
bin/*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Bb]in/[Dd]ebug*/
/**/Lib/[Dd]ebug*/
*Setup/[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
!Release
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.orig
.svn/
.vs/
*.DotSettings
*.exclude
artifacts/**
node_modules


